{# /Users/harshit/Desktop/php-backend/public/views/404.twig #}
{% extends "template.twig" %}

{% block body %}
    <div class="container my-5 text-center">
        <h1 class="display-1 text-danger">404</h1>
        <p class="lead">The page you're looking for doesn't exist.</p>
        <p>It might have been moved or deleted.</p>
        <a href="/home" class="btn btn-primary mt-3">Go to Homepage</a>
    </div>
{% endblock %}