{% extends "template.twig" %}

{% block body %}


<div class="container-fluid my-5" style="height:500px; width: 400px; border:2px solid black;">

    <div class="container d-flex justify-content-center">
        <h3 class="mt-5 ">Login</h3>



    </div>
    <div class="container d-flex justify-content-center">
        <h3 class="mb-3">_______</h3>



    </div>


    <form action="/signin" method="POST">
        <div class="form-group my-2">
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required>
        </div>

        <div class="form-group my-3">
            <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
        </div>

        <button type="submit" class="d-flex justify-content-center container btn btn-success">Submit</button>

        {% if error %}
        <p class="text-danger text-center mt-2">{{ error }}</p>
        {% endif %}
    </form>




    <div class="col d-flex justify-content-center container my-4 ">
        <div class="container row">
            <a href="/signup">
                <h5>Create Account</h5>
            </a>

        </div>
        <div class="container row">
            <a href="/home">
                <h5>Return to Store?</h5>
            </a>

        </div>
        <!-- <a href=""> <h4>Create Account</h4></a> -->

    </div>


</div>





{% endblock %}