{% extends "template.twig" %}

{% block body %}
    <style>
        /* These styles are only for the product page, using a unique prefix to avoid conflicts */
        .product-page h1 {
            font-size: 30px;
            font-weight: bold;
            width: 600px;
        }

        .product-page p {
            font-size: 18px;
            margin-bottom: 20px;
            margin-top: 8px;
        }

        .product-page .img-container {
            padding-left: 80px;
            padding-top: 40px;
            display: flex;
            flex-direction: column;
        }

        .product-page .text-container {
            display: flex;
            flex-direction: column;
            width: 500px;
            margin-right: 100px;
            margin-top: 40px;
        }

        .product-page .big-container {
            display: flex;
            justify-content: space-around;
        }

        .product-page .clinicians-choice {
            margin-top: 30px;
            font-size: 15px;
        }

        .product-page .clinicians-choice p:first-child {
            font-weight: bold;
        }

        .product-page .small-box {
            margin-left: -25px;
            display: flex;
            justify-content: space-between;
            height: 150px;
            width: 450px;
            margin-top: 30px;
        }

        .product-page .cont1,
        .product-page .cont2,
        .product-page .cont3 {
            border: 1px solid rgb(219, 189, 189);
            height: 90%;
            width: 30%;
            border-radius: 19px;
        }

        .product-page .quantity-box {
            height: 200px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 40px;
        }

        .product-page .box1 {
            border: 1px solid rebeccapurple;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-radius: 7px;
        }

        .product-page .add-to-cart-box {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 7px;
        }

        .product-page .adding-box {
            width: 30%;
            height: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

        .product-page .adding-box span.num {
            border-left: 1px solid rebeccapurple;
            border-right: 1px solid rebeccapurple;
            padding: 10px;
            font-size: 20px;
        }

        .product-page .adding-box span.add,
        .product-page .adding-box span.sub {
            font-size: 35px;
        }

        .product-page .add-to-cart {
            width: 70%;
            height: 100px;
            margin-right: -35px;
        }

        .product-page .add-to-cart button {
            width: 90%;
            height: 100%;
            background-color: #00ba74;
            border-radius: 20px;
            color: white;
            border: none;
        }

        .product-page .add-to-cart button:hover {
            cursor: pointer;
            background-color: #06a468d8;
        }

        .product-page .text-list {
            height: 200px;
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            gap: px;
        }

        .product-page .big-container2 {
            height: 1450px;
            display: flex;
            flex-direction: column;
        }

        .product-page .first-container,
        .product-page .second-container,
        .product-page .third-container {
            height: 33.33%;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .product-page .first-cont,
        .product-page .second-cont,
        .product-page .third-cont {
            display: flex;
            flex-direction: column;
        }

        .product-page .press-rivw {
            border: 1px solid rebeccapurple;
            height: 1100px;
        }
    </style>

    {% if product is not empty %}
        <div class="product-page">
            <div class="big-container">
                <div class="img-container " >
                    <img src="../assets/img/{{product.image}}" style="width:500px;padding-right: 100px;height: 550px; ">
                    <div class="small-box">
                        {# <div class="cont1">
                            <img src="image/WhatsApp Image 2025-07-29 at 22.43.02_9a275e8f.jpg"
                                 style="width: 70%; height: 100%;border-radius: 19px;margin-left:20px">
                        </div>
                        <div class="cont2">
                            <img src="image/WhatsApp Image 2025-07-30 at 09.01.11_ea4b1a73.jpg"
                                 style="width: 70%; height: 100%;border-radius: 19px;margin-left:20px">
                        </div>
                        <div class="cont3">
                            <img src="image/PK_Collagen-Peptides_20serv-Vanilla-SFP_2024-07-08_30777c53-35bb-4478-812f-c9195f374b5e.webp"
                                 style="width: 100%; height: 100%;border-radius: 19px;">
                        </div> #}
                    </div>
                </div>
                <div class="text-container">
                    <div class="heading1">
                        <h1>{{product.name}}</h1>
                    </div>
                    <div class="para1">
                        <p>{{product.description|nl2br}}</p>
                    </div>
                    <div class="clinicians-choice">
                        <p>⭐⭐⭐⭐⭐ 5467 Reviews</p>
                    </div>
                    <p style="font-size: 15px;">Quantity</p>
                    <div class="quantity-box">
                        <div class="box1">
                            <h4>One time</h4>
                            <h5>$44.55</h5>
                        </div>
                        <div class="add-to-cart-box">
                            <div class="adding-box">
                                <span class="sub">-</span>
                                <span class="num">01</span>
                                <span class="add">+</span>
                            </div>
                            <div class="add-to-cart">
                                <button id="addToCartBtn" data-product-id="{{ product.id }}">
                                    <h2>Add to cart</h2>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="text-list">
                        <ul>
                            <li>
                                <i class="fa-regular fa-circle-check"></i><strong>Made to:</strong>
                                <em>Support brain health, improve memory, enhance focus,
                                    promote heart wellness, and reduce inflammation.</em>
                            </li>
                            <br>
                            <li>
                                <i class="fa-regular fa-circle-check"></i><em>Naturally rich in Omega-3 fatty acids and
                                    antioxidants</em>
                            </li>
                            <br>
                            <li>
                                <i class="fa-regular fa-circle-check"></i><em>High in plant-based protein and fiber</em>
                            </li>
                            <br>
                            <li>
                                <i class="fa-regular fa-circle-check"></i><em>Gluten-free and vegan-friendly</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="big-container2">
                <div class="first-container">
                    <img src="../assets/img/jenn-kosar-FhXZSP-4ARg-unsplash.jpg" style="width:90%;">
                    <div class="first-cont">
                        <strong style="font-size:33px;padding-left:20px;padding-right:
                        20px;padding-top:20px;margin-top:100px;">Nourish Naturally</strong>
                        <em style="font-size: 21px;padding:20px;">Every handful of nuts delivers
                            vitamins and antioxidants that help reduce inflammation, support heart
                            health, and boost your body's natural defenses.</em>
                    </div>
                </div>
                <div class="second-container">
                    <div class="first-cont">
                        <strong style="font-size:33px;padding-left:20px;padding-right:
                        20px;padding-top:20px;margin-top:100px;">Feel Full, Feel Fantastic</strong>
                        <em style="font-size: 21px;padding:20px;">Nuts are a smart snack that curbs
                            cravings and supports weight management. Their rich fiber and good fats
                            help you stay full without feeling heavy.</em>
                    </div>
                    <img src="../assets/img/akahrot.jpg" style="width:96%;">
                </div>
                <div class="third-container">
                    <img src="../assets/img/badam.jpg" style="width:93%;">
                    <div class="first-cont">
                        <strong style="font-size:33px;padding-left:20px;padding-right:
                        20px;padding-top:20px;margin-top:100px;">Wholesome Crunch for a Healthy Life</strong>
                        <em style="font-size: 21px;padding:20px;">From improving cholesterol to supporting bone
                            strength, nuts are nature's multitaskers. Add them to your diet for a simple step
                            toward long-term wellness.</em>
                    </div>
                </div>
                <div class="press-rivw">
                    <h1>Press reviews</h1>
                </div>
            </div>
        </div>
    {% else %}
        <p>No products found.</p>
    {% endif %}
{% endblock %}