{% extends "template.twig" %}
{% block body %}




  <div class="container-fluid my-5" style="height:500px; width: 400px; border:2px solid black;">

    <div class="container d-flex justify-content-center">
            <h3 class="mt-5 ">Sign Up</h3>
            


    </div>
    <div class="container d-flex justify-content-center">
            <h3 class="mb-3" >_______</h3>
            


    </div>


 <form action="/signup" method="POST">
  <div class="form-group my-2">
    <input type="text" class="form-control" name="name" placeholder="First Name">
  </div>
  
  <div class="form-group">
    <input type="email" name="email" class="form-control my-3" placeholder="Email">
  </div>
  
  <div class="form-group">
    <input type="password" name="password" class="form-control my-3" placeholder="Password">
  </div>
  
  <div class="form-group">
    <input type="password" name="confirm" class="form-control my-3" placeholder="Confirm Password">
  </div>
  
  <button type="submit" class="d-flex justify-content-center container btn btn-success">Submit</button>

  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}
</form>




    <div class="col d-flex justify-content-center container my-4 ">
    <div class="container row">
            <a href="/signin"> <h5>Have a Account Already?</h5></a>

    </div>
    <div class="container row">
            <a href="/home"> <h5>Return to Store?</h5></a>

    </div>
    <!-- <a href=""> <h4>Create Account</h4></a> -->

    </div>
    

  </div>





{% endblock %}